body {
    background-image: url(../img/009-subtle-light-patterns.jpg);
}

.clear {
  clear: both;
}

.stittl {
    padding: 1px 3px;
    font-size: 13px;
    cursor: move;
}
.sticlose {
    float: right;
    cursor: pointer;
}
.stimain {
    width: 93%;
    height: 80%;
    resize: none;
}

/* sortable
--------------------------- */
#sortable {
    float: left;
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0;
    width: 720px;
    height: 500px;
    overflow-y: auto;
}

#sortable div {
    height: 80px;
    margin: 0 3px 3px 3px;
    padding: 0.3em;
    padding-left: 1em;
    font-size: 15px;
    font-weight: bold;
    cursor: move;
    overflow-x: auto;
}

.priority {
    float: left;
}

/* #chat
--------------------------- */
.chat-container {
    height: 480px;
    width: 300px;
}

.chat-messages {
    height: 400px;
    border: solid 1px;
    overflow-y: auto;
}

.chat-input textarea {
    height: 50px;
    width: 95%;
    resize: none;
}

