/* wrapper
--------------------------- */

#wrapper_poker {
/*    background-image: url(../img/bg_wood.jpg);*/
}


#container {
    margin: 5px;
}

#content {
    margin-top: 10px;
}

/* sortable
--------------------------- */
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 480px;
}
#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.3em;
    padding-left: 1em;
    font-size: 15px;
    font-weight: bold;
    cursor: move;
}


/* 
--------------------------- */
.priorityNumber {
  width: 80px;
}
.estimate {
  width: 50px;
}
.estimate img {
  width: 40px;
  height: 50px;
}
.pokerspace {
  width: 540px;
}
.pokerspace-body {
  width: 450px;
}


.clear {
  clear: both;
}

/* .dragparts / .dragparts_drop
--------------------------- */
.dragparts,
.dragparts_drop {
    top: 0;
    left: 0;
    width: 40px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
}



/* #dragitemlist
--------------------------- */
#dragitemlist {
    position: relative;
    height: 50px;
}
 
#dragitemlist ul.draglist {
    margin-left: 5px;
}
 
#dragitemlist ul.draglist li {
    margin: 0 5px 5px 0;
    width: 40px;
    display: inline;
    float: left;
    position: relative;
}

#dragitemlist span:hover {
    cursor: move;
}

/* #droparea
--------------------------- */
.droparea,
.poker-droparea {
    height: 50px;
    width: 40px;
    background: #ddd;
}
 
.droparea.areahover, .poker-droparea.areahover {
    background: #666;
}
 
.droparea .dragparts_drop,
.droparea .poker-droparea {
    margin: 0;
    padding: 0 5px 5px 0;
    position: relative;
}

box {
  width: 200px;
  height: 200px;
  background-color: blue;
}


/* #chat
--------------------------- */
.chat-container {
    height: 480px;
    width: 300px;
}

.chat-messages {
    height: 400px;
    border: solid 1px;
}

.chat-input textarea {
    height: 50px;
    width: 95%;
    resize: none;
}





/* -------------------------------------------- */
/* -�Q�l http://davidwalsh.name/css-flip -*/

/* 3D�ό`�̉��s���̐[�����w�� */
.flip-container {
  -webkit-perspective: 1000; 
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}
/* hover���ɉ�] */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 40px;
  height: 50px;
}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
