/* 共通
================================================================================
================================================================================
*/

.clear {
  clear: both;
}


/*--------付箋--------*/
.stittl {
    padding: 1px 3px;
    font-size: 13px;
    cursor: move;
}
.sticlose {
    float: right;
    cursor: pointer;
}
.stimain {
    width: 93%;
    height: 80%;
    resize: none;
}
.fusen_free {
    position: absolute;
    width: 200px;
    height: 65px;
    color: rgb(102, 102, 102);
}
.fusen_fix {
    float: left;
    width: 200px;
    height: 65px;
    color: rgb(102, 102, 102);
}
/*--------------------*/


/*---------ポーカーモーダルウィンドウ---------*/
#poker_area {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999999;
    color: #111111;
    display: none;
    min-width: 450px;
    padding: 25px;
}

.poker_close {
    border-radius: 7px 7px 7px 7px;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
    background-color: #2B91AF;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
/*----------------------------------------*/

/* バックログ
================================================================================
================================================================================
*/

#backlog {
    float: left;
    margin: 0;
    overflow-y: auto;
}

#backlog .line {
    margin: 0 3px 3px 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: move;
    overflow-x: auto;
}

#backlog .priority {
    float: left;
    width: 20px;
/*    line-height: 100px;*/
    text-align: center;
}

#backlog .backlog_contents {
    float: left;
    width: 96%;
}

#backlog .backlog_contents .title {
    width: 400px;
    height: 12px;
    font-size: 75%;
}

#backlog .scrollarea{
    overflow-x: auto;
    height: 100px;
}

#backlog .items {
    width: 610px;
}

#backlog .candidate_area {
    float: left;
    width: 200px;
    height: 80px;
    border: dashed 1px #123;
}
