body {
    background-image: url(../img/009-subtle-light-patterns.jpg);
}

.clear {
  clear: both;
}

/* 付箋
-------------------------- */
.stittl {
    padding: 1px 3px;
    font-size: 13px;
    cursor: move;
}
.sticlose {
    float: right;
    cursor: pointer;
}
.stimain {
    width: 93%;
    height: 80%;
    resize: none;
}

/* sortable
--------------------------- */
#sortable {
    float: left;
    margin: 30px 0 0 0;
    width: 720px;
    height: 500px;
    overflow-y: auto;
}

#sortable .line {
    height: 120px;
    margin: 0 3px 3px 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: move;
    overflow-x: auto;
}

.priority {
    float: left;
}

/* #chat
--------------------------- */
.chat-container {
    height: 480px;
    width: 300px;
}

.chat-messages {
    height: 400px;
    border: solid 1px;
    overflow-y: auto;
}

.chat-input textarea {
    height: 50px;
    width: 95%;
    resize: none;
}

/* 横スクロール
--------------------------- */
#scrollarea{
    float: left;
    width: 98%;
    height: 97%;
    overflow-x: auto;
    border: solid 1px #123;
}
.items {
    width: 610px;
}
.item textarea {
    z-index: 3000;
    display: block;
}

/* ポーカーポップアップ
--------------------------- */
#poker_area {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999999;
    color: #111111;
    display: none;
    min-width: 450px;
    padding: 25px;
}

.poker_close {
    border-radius: 7px 7px 7px 7px;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
    background-color: #2B91AF;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}